extra-streamlit-components==0.1.71
Flask==3.0.3
Flask-Cors==4.0.1
Flask-SocketIO==5.3.6
flatbuffers==24.3.25
folium==0.17.0
google-api-core==2.19.1
google-api-python-client==2.139.0
google-auth==2.32.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-pasta==0.2.0
googleapis-common-protos==1.63.2
gspread==5.12.4
gspread-dataframe==4.0.0
gspread-formatting==1.2.0
gspread-pandas==3.3.0
keras==3.4.1
matplotlib==3.9.1
matplotlib-inline==0.1.7
numpy==1.26.4
pandas==1.5.3
pip==24.2
scikit-learn==1.5.1
scipy==1.14.0
seaborn==0.13.2
streamlit==1.37.1
streamlit-authenticator==0.3.3
streamlit-cookies-controller==0.0.4
streamlit-cookies-manager==0.2.0
streamlit_folium==0.22.0
streamlit-javascript==0.1.5
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-io-gcs-filesystem==0.37.1
tqdm==4.66.5